html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #001A23;
    background-color: #e9f4ff;
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", "Tahoma", sans-serif;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.mainHeader {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
}

.pageNav {
    display: flex;
    width: inherit;
    align-self: center;
    justify-content: space-evenly;
    margin: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.contentSection {
    width: 80%;
    margin: auto;
    background-color: rgba(98, 172, 175, 0.22);
}

.article {
    width: 90%;
    background-color: #f6f8ff;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    font-size: 17px;
}

.pageTitle {
text-align: center;
}

.contentSection__title {
    padding: 5px 10px;
    margin: 15px;
    background-color: #388d73;
    color: whitesmoke;
}

.article__title {
    color: #215277;
    margin: 5px;
}

a {
    color: rgb(224, 154, 25);
}

.pageFooter {
    text-align: center;
    background-color: #dae5f1;
    padding: 5px;
    margin-bottom: 0;
}